name: API Automated Tests
on:
  schedule:
    - cron:     '0 12 * * *' # Se ejecuta todos los días a las 12:00 UTC
  push:
    branches: [ main ] # También corre cuando subes cambios

jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Newman
        run: npm install -g newman

      - name: Run API Tests
        run: newman run collection.json
